<nav class="navbar navbar-expand-md navbar-light">
    <div class="navigation-header">
        <div class="ml-auto d-sm-block d-md-none">
            <ul class="navbar-nav language-list">
                <li>
                    <a class="{% if page.layout == 'docs-en' %}active{% endif %}" href="{{ page.permalink | replace: '/ja/', '/en/' }}">En</a>
                </li>
                <li>
                    <a class="{% if page.layout == 'docs-ja' %}active{% endif %}" href="{{ page.permalink | replace: '/en/', '/ja/' }}">Ja</a>
                </li>
            </ul>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            {% assign manual_pages = site.pages | where: "category", "Manual" | where: "layout", "docs-en" | sort: "path" %}
            {% for item in manual_pages %}
            {% unless item.path contains "/index.md" or item.path contains "/convention/" or item.path contains "/ja/" %}
            {% if item.path contains "/en/" and item.title %}
            {% assign item_link = item.permalink | default: item.url %}
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == item_link %}active{% endif %}"
                   {% if page.permalink == item_link %}aria-current="page"{% endif %}
                   href="{{ item_link | relative_url }}">{{ item.title | escape }}</a>
            </li>
            {% endif %}
            {% endunless %}
            {% endfor %}
        </ul>
    </div>
</nav>