{% include manuals/1.0/header.html %}
<main class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-lg-2">
            <div class="side-bar">
                <ul class="section-nav" style="margin-bottom: 1.5rem;">
                    <li class="nav-item">Fable 5 Trilogy</li>
                    <li class="nav-item" style="display: inline; margin-right: 0.5rem;"><a href="{{ page.url | replace: '/ja/', '/en/' }}">English</a></li>
                    <li class="nav-item" style="display: inline;"><a href="{{ page.url | replace: '/en/', '/ja/' }}">日本語</a></li>
                </ul>
                <hr style="margin-top: 0;">
                {% include review/fable5/en/sidebar.html %}
            </div>
        </div>
        <div class="col-md-9 col-lg-10">
            <article id="article" class="markdown-body" style="max-width: 800px;">
                {{ content }}
            </article>
        </div>
    </div>
</main>
{% include manuals/1.0/footer.html %}
